.topBar {
    align-items: center;
    background: #f5da55;
    border-bottom: 2px solid #323330;
    display: flex;
    flex-flow: row nowrap;
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    left: 0;
    line-height: 50px;
    right: 0;
    grid-column: 1 / 4;
    a {
        height: 100%;
    }
    a:first-of-type {
        font: bold 20px Shojumaru;
        margin-right: 2%;
        margin-left: 15%;
        transform: rotate(-4deg);
    }
    .link:hover {
        color: #f7de65;
        background-color: #6c6e66;
    }
    .selected {
        color: #f5da55;
        background-color: #323330;
    }
}