.title {
    align-items: center;
    color: rgb(157, 165, 180);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    max-height: 500px;
    padding: 0.5rem 1rem;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    &.collapse{
        svg {
            transform: rotate(0deg);
        }
    }
    svg {
        transform: rotate(-90deg);
    }
    &:hover {
        background-color: rgb(41, 45, 54);
        color: rgb(255, 255, 255);
    }
}

.text {
    font-size: 1rem;
    font-weight: bold;
    flex: 1 1 0;
}

.textInput {
    width: 50px;
}

.arrow {
    height: 20px;
    overflow: hidden;
    stroke: #eee;
    transition: transform 250ms ease-in-out;
    width: 20px;
}

.checkBox {
    margin: 4px 10px 0 0;
}

.options {
    border-top: 1px solid #181a1f;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0 0.6rem;
}

.checkBox {
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.dropDownSection {
    height: auto;
    transition: height 2500ms ease-out;
    &.collapse {
        height: 50px;
    }
}