.body-container {
    background: gray;
    display: grid;
    grid-template-columns: 2.2fr 9fr 9fr;
    grid-template-rows: 1fr;
    grid-column: 1 / 4;
    grid-row: 2/ 4;
    &.closed {
        grid-template-columns: 10px 9fr 9fr;
    }
}