body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}

.small-img {
    display: block;
    width: 25%;
}

.App {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 2fr 7fr 7fr;
    grid-template-rows: auto 1fr;
}